<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
<!--    <link rel="icon" href="<%= BASE_URL %>favicon.ico">-->
    <title><%= htmlWebpackPlugin.options.title %></title>

      <link rel="preload" as="font" href="<%= BASE_URL %>fonts/montserrat-light.woff2" type="font/woff2" crossorigin="anonymous">
      <link rel="preload" as="font" href="<%= BASE_URL %>fonts/montserrat-medium.woff2" type="font/woff2" crossorigin="anonymous">
      <link rel="preload" as="font" href="<%= BASE_URL %>fonts/montserrat-regular.woff2" type="font/woff2" crossorigin="anonymous">
      <link rel="preload" as="font" href="<%= BASE_URL %>fonts/montserrat-light.woff" type="font/woff" crossorigin="anonymous">
      <link rel="preload" as="font" href="<%= BASE_URL %>fonts/montserrat-medium.woff" type="font/woff" crossorigin="anonymous">
      <link rel="preload" as="font" href="<%= BASE_URL %>fonts/montserrat-regular.woff" type="font/woff" crossorigin="anonymous">

      <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>icons/favicon-16x16.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>icons/favicon-32x32.png" />
      <link rel="icon" type="image/png" sizes="96x96" href="<%= BASE_URL %>icons/favicon-96x96.png" />

      <link rel="icon" type="image/png" sizes="120x120" href="<%= BASE_URL %>icons/favicon-120x120.png" />
      <link rel="icon" type="image/png" sizes="192x192" href="<%= BASE_URL %>icons/android-icon-192x192.png" />

      <link rel="apple-touch-icon" href="touch-icon-iphone.png">
      <link rel="apple-touch-icon" sizes="152x152" href="<%= BASE_URL %>icons/touch-icon-ipad.png">
      <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>icons/touch-icon-iphone-retina.png">
      <link rel="apple-touch-icon" sizes="167x167" href="<%= BASE_URL %>icons/touch-icon-ipad-retina.png">

      <link rel="mask-icon" href="<%= BASE_URL %>icons/website_icon.svg" color="#FF6047">

      <meta name="msapplication-TileColor" content="#FF6047">
      <meta name="msapplication-TileImage" content="<%= BASE_URL %>icons/mstile-144x144.png">
      <meta name="msapplication-square70x70logo" content="<%= BASE_URL %>icons/mstile-70x70.png">
      <meta name="msapplication-square150x150logo" content="<%= BASE_URL %>icons/mstile-150x150.png">
      <meta name="msapplication-wide310x150logo" content="<%= BASE_URL %>icons/mstile-310x310.png">
      <meta name="msapplication-square310x310logo" content="<%= BASE_URL %>icons/mstile-310x150.png">
      <meta name="application-name" content="ArsenalPay">

      <!-- для twitter и больших картинок в telegram -->
      <meta property="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@arsenalpay" />
      <meta name="twitter:creator" content="@arsenalpay" />
      <!--  <meta name="twitter:title" content="ArsenalPay | Разработчикам" />-->

      <style>
        @font-face {
          font-family: "Montserrat";
          src: url("./fonts/montserrat-regular.woff2") format("woff2"),
            url("./fonts/montserrat-regular.woff") format("woff");
          font-weight: 400;
          font-style: normal;
          font-display: swap;
          unicode-range: U+000-5FF;
        }
  
        @font-face {
          font-family: "Montserrat";
          src: url("./fonts/montserrat-light.woff2") format("woff2"),
            url("./fonts/montserrat-light.woff") format("woff");
          font-weight: 300;
          font-style: normal;
          font-display: swap;
          unicode-range: U+000-5FF;
        }
  
        @font-face {
          font-family: "Montserrat";
          src: url("./fonts/montserrat-medium.woff2") format("woff2"),
            url("./fonts/montserrat-medium.woff") format("woff");
          font-weight: 500;
          font-style: normal;
          font-display: swap;
          unicode-range: U+000-5FF;
        }
      </style>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
